force-app/main/default/flows/Is_Primary_Contact_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_Primary_Contact_Changed</name>
        <label>Is Primary Contact Changed?</label>
        <locationX>781</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_PM_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Primary_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Isprimary_checkbox</targetReference>
            </connector>
            <label>Is PM Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Is Primary Contact Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Is Primary Contact Changed_v1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Isprimary_checkbox</name>
        <label>Update Isprimary checkbox</label>
        <locationX>1014</locationX>
        <locationY>389</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPrimary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_Primary_Contact_Changed</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
